# This repo is (sadly) only designed to work with Windows machines
# This will be dealt with by normalising on the input side, but
# forcing crlf on the output side
* text=auto

# Add expected text file types explicitly
*.bas text eol=crlf
*.cls text eol=crlf

# Add expected binary file types explicitly
*.xls binary
*.xlsm binary